$bg_0: #121212;
$bg_1: #242424;
$bg_2: #484848;
$accent_primary: #BB2299;
$accent_secondary: #AA88FF;
$text_0: #EBF2FA;
$font_fam: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
